body {
    background-color: #0d0e10;
    /* background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat; */
}

#socials i {
    line-height: 25px;
    font-size: 20px;
    transition: 0.2s;
}

#socials:hover i {
    transform: scale(1.3);
    color: #fff;
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler-icon svg {
    filter: invert(1);
}

.navbar-brand img {
    height: 60px;
    filter: invert(0.945);
}

.navbar-nav .nav-item .nav-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 3rem;
    transition: 100ms;
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
}

section {
    font-family: Raleway, sans-serif;
    color: rgb(209, 203, 203);
    margin-top: 20%;
}

section form .btn {
    margin-top: 1em;
    font-family: Raleway, sans-serif;
    background-color: transparent;
    width: 100%;
    font-weight: 600;
    color: rgb(209, 203, 203);
    font-size: medium;
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em 2em;
}

section form .btn:hover {
    font-weight: 900;
    border: 2px solid white;
    background-color: transparent;
}

section form label {
    font-weight: 600;
    color: whitesmoke;
}

section h3 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 5rem;
}

section .info p {
    font-weight: 200;
    opacity: 0.85;
}