body {
    background-color: #0d0e10;
}

.navbar-brand img {
    height: 60px;
    filter: invert(0.945);
}

.navbar-nav .nav-item .nav-link {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: white;
    padding-left: 3rem;
    transition: 100ms;
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: 500;
}